

<% include ../partials/header %>
    <div class="row">
        <div id="Form-Control" style="width: 30%; margin: 30px auto;">
        <h1 style="text-align: center">Update! <%= city.name %></h1>
        
            <form action="/cities/<%=city._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="cit[name]name" value="<%= city.name %>">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="city[description]" value="<%= city.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
            </form>
            <a href="/cities">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>













<% include ../partials/footer %>