<% include ../partials/header %>
<div class="container-fluid">
    <div class="row">


<div id="Form-Control" style="width: 30%; margin: 30px auto;">
    <h1 class="py-3"id="New-City">Create a new City</h1>
<form action="/cities" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <input class="form-control" type="text" name="city[name]" required placeholder="name">
    </div>
   <div class="form-group">
       <label for="image">Image</label>
         <input type="file" id="image" name="image" accept="image/*" required>
    </div>
    
     <div class="form-group">
       <input class="form-control" type="text" name="city[description]" placeholder="description">
    </div>
       
         <div class="form-group">
                    <label for="location">Location :</label>
                    <input id="search_term" class="form-control controls" type="text" name="location" id="location" placeholder="Enter a location here" required>
                </div>
       
    <div class="form-group">   
   <button class="btn btn-lg btn-primary btn-block">Submit</button>
    </div>
</form>

<a href="/cities">Back</a>
</div>


  </div>
</div>
<% include ../partials/footer %>