body {
    background: white;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#DeleteForm {
    display: inline;
}

#Navbar { background-color:  
#fff;
}

.white {
    color: white;
}

#white {
    color: white;
}

#map {
    height: 400px;
    width: 100%;
}
